@{
    ViewBag.Title = "Home Page";
}

<div class="w3-slider">
    <!-- main-slider -->
    <ul id="demo1">
        <li>
            <img src="~/images/1.jpg" alt="" />
            <!--Slider Description example-->
            <div class="slide-desc">
                <h3>Hii, Welcome to my BlogSpot</h3>
            </div>
        </li>
        <li>
            <img src="~/images/2.jpg" alt="" />
            <div class="slide-desc">
                <h3>I am Shital</h3>
            </div>
        </li>
        <li>
            <img src="~/images/3.jpg" alt="" />
            <div class="slide-desc">
                <h3>I am a Sofftware Developer</h3>
            </div>
        </li>

    </ul>
</div>
<!-- //main-slider -->
